.tabs{
  border-bottom: 1px solid #EFEFEF;
}
.tabs > p {
  display: inline-block;
  font: 20px/30px 'Roboto';
  color: #4E4E4E;
  opacity: 0.6;
  margin-right: 60px;
  cursor: pointer;
  padding-bottom: 8px;
  text-transform: capitalize;
}
.tabs_selected{
  color: #F9C806;
  border-bottom: 2px solid #F9C806;
}
.images_gallery{
  padding: 30px 0 30px;
}
.images_gallery_slot{
  margin-bottom: 28px;
  width: 293px;
  height: 293px;
  margin-right: 28px;
  cursor: pointer;
  display: inline-block;
}
.images_gallery_slot img{
  width: 100%;
  height: 100%;
}
.images_gallery_slot:nth-child(3n){
  margin-right: 0;
}
