.section_title{
  display: flex;
  align-items: center;
  padding: 35px 0;
  background: #E5E5E5;
}
.section_title-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 44px;
}
.h2{
  font: 25px/35px 'Roboto';
  color: #4E4E4E;
}
.h2_img{
  display: flex;
}
.h2_images{
  margin-left: 10px;
}
